
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form>
    First name:<br>
    <input type="text" name="name"><br>
    Last name:<br>
    <input type="text" description="description">
    <br>
    <button class="btn btn-default">Create a new room!</button>
</form>